---
- name: Install SQL Server using SqlSetup DSC resource
  ansible.windows.win_dsc:
    resource_name: SQLSetup
    Action: Install
    SourcePath: '{{ sql_install_source_path }}'
    Features: '{{ sql_install_features }}'
    InstanceName: '{{ sql_install_instance_name }}'
    ProductKey: '{{ sql_install_product_key | string }}'

    # Directories
    InstallSharedDir: '{{ sql_install_installshareddir }}'
    InstallSharedwowDir: '{{ sql_install_installsharedwowdir }}'
    InstanceDir: '{{ sql_install_instance_dir }}'
    InstallSQLDataDir: '{{ sql_install_installdb_path }}'
    SQLBackupDir: '{{ sql_install_backup_path }}'
    SQLUserDBDir: '{{ sql_install_userdb_path }}'
    SQLUserDBLogDir: '{{ sql_install_userdblog_path }}'

    # Service Accounts
{% if sql_install_agent_svc_account %} 
    AgtSvcAccount_username: '{{ sql_install_agent_svc_account }}'
    AgtSvcAccount_password: '{{ sql_install_agent_svc_password | default('notused', true) }}' # Default to "notused" if not defined
{% endif %}
{% if sql_install_sql_svc_account %}
    SQLSvcAccount_username: '{{ sql_install_sql_svc_account }}'
    SQLSvcAccount_password: '{{ sql_install_sql_svc_password | default('notused', true) }}' # Default to "notused" if not defined
{% endif %}
    SQLSvcStartupType: '{{ sql_install_sql_svc_startup_type | default('Automatic') }}'
    AgtSvcStartupType: '{{ sql_install_agent_svc_startup_type | default('Automatic') }}'

    # Security and Authentication
    SQLSysAdminAccounts: '{{ sql_install_sysadminaccount }}'
    SAPwd_username: 'sa'
    SAPwd_password: '{{ sql_install_sapwd }}'
    SecurityMode: '{{ sql_install_security_mode | default("SQL") }}'
    SQLCollation: '{{ sql_install_sqlcollation }}'

    # Networking
    TcpEnabled: '{{ sql_install_tcp_enabled | default(true) }}'

    # TempDB Configuration
    SQLTempDBFileCount: '{{ sql_install_tempdbfilecount }}'
    SQLTempDBFileSize: '{{ sql_install_tempdbfilesize }}'
    SQLTempDBFileGrowth: '{{ sql_install_tempdbfilegrowth }}'
    SQLTempDBLogFileSize: '{{ sql_install_tempdblogfilesize }}'
    SQLTempDBLogFileGrowth: '{{ sql_install_tempdblogfilegrowth }}'
    SQLTempDBDir: '{{ sql_install_tempdb_path }}'
    SQLTempDBLogDir: '{{ sql_install_tempdblog_path }}'

    # Updates
    UpdateEnabled: '{{ sql_install_enableupdates }}'
    UpdateSource: '{{ sql_install_update_source_path | default(omit) }}'

  register: sql_install_result
  no_log: true
